/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&family=Roboto:wght@300;400&display=swap');

/*
    USING:
    - ROBOTO (300 E 400) cursive
    - OSWALD sans-serif
    - BEBAS NEUE sans-serif
*/


*{
    font-family: "Roboto";
}

body{
    margin: 0;
}

/* COMMONS STYLE */


.buttons-page{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    border: none;
    text-decoration-style: double;
    text-decoration: none;
}

.bans-page-config{
    width: 100%;
    height: 100vh;
    display: flex;
}

.mini-banner-config{
    width: 100%;
    height: 50vh;
    display: flex;
}

.title{
    font-family: "Bebas Neue";
    font-size: 17pt;
}

.title-mini{
    font-size: 20pt;
}

.text-divider{
    width: 4px;
    height: auto;
    border-radius: 2px;
    background-color: #333;
    position: relative;
    top: 10px;
    margin-right: 10px;
}

/* TOP PAGE */

#top-page{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    box-shadow: 0px 4px 6px #7c7c7c;
    position: fixed;
    top: 0;
    margin-bottom: 10px;
    margin: 0;
}

#area-logo-top{
    width: 100px;
    height: 11vh;
    background-color: rgb(253, 61, 61);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    left: 10%;
    text-align: center;
}

#area-logo-top img{
    width: 90px;
    height: auto;
    position: relative;
    margin-top: 15px;
}

#top-text-area{
    width: 300px;
    height: 7vh;
    display: flex;
    position: absolute;
    left: 19%;
}

#top-text-area .title{
    position: relative;
    top: -2px;
}

/* BANNER: CADASTRO */

#banner-cadastro{
    background-image: url(../IMAGES/“comocnaofuturovainoseuflow”eaassinaturadanovacampanhadarededeidiomaspara2023.jpg);
    height: 80vh;
    margin-top: 10vh;
}

/*
        BOX CONFIG
*/

#box-cadastro{
    width: 25%;
    height: 60vh;
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
    left: 60%;
    text-align: center;
}

#title-cadastro{
    margin-top: 10px;
}

#title-cadastro .title{
    font-size: 20pt;
}

#title-cadastro p{
    margin: 10px 0 0px 0;
}

#box-cadastro li{
    position: relative;
    right: 20px;
}

#box-cadastro form{
    margin-top: 10px;
}

.input-box{
    width: 80%;
    height: 30px;
    margin: 8px 0 8px 0;
    border-radius: 10px;
    border: 1px solid #888;
    padding-left: 15px;
}

#box-cadastro select{
    width: 85%;
    text-align: center;
}

#text-according-user{
    padding: 0 20px 0 20px;
    font-size: 8pt;
    margin-top: -10px;
    color: #8b8b8b;
}

.lang-option-select{
    padding-left: 10px;
}

#btn-box-cadastro{
    margin: 0 auto 50px auto;
    background-color: #40B6A6;
    border: 2px solid #40B6A6;
    color: #fff;
    padding: 0;
}

#btn-box-cadastro:hover{
    background-color: #fff;
    color: #40B6A6;
    transition: 0.2s;
}

/* BUTTON: RETURN TOP */

#button-return-top{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: yellow ;
    box-shadow: 0px 3px 4px #666;
    position: fixed;
    right: 4%;
    bottom: 50px;
    text-align: center;
    border: 2px solid rgb(253, 61, 61);
}

#question-mark{
    width: 70%;
    height: auto;
    margin: 9px 0 0 0;
}


/* BANNER: VIDEO APRESENTACAO */

#ban-video-apresentacao{
    display: grid;
    text-align: center;
    background-color: #e9e7e7;
}

#video-config{
    margin: auto 0 auto 0;
}

#title-apresentacao{
    text-align: center;
    font-size: 30pt;
}

/* BANNER: CURSO PRESENCIAL */

#ban-presential{
    background-color: #FFE921;
}

#image-ban-presential{
    width: 50%;
    height: 90vh;
    position: relative;
    bottom: 0%;
    margin-top: auto;
}

#presential-text{
    width: 40%;
    height: 30vh;
    position: relative;
    right: 0%;
    top: 100px;
}

#presential-text h3{
    width: 110%;
}

#btn-presential{
    position: relative;
    margin: 20px 0 0 0;
    background-color: #e327fc;
    color: #FFE921;
}

/* BANNER: CURSO ONLINE */

#ban-online{
    background-color: #fff;
}

#ban-online-image{
    width: 500px;
    height: 450px;
    position: relative;
    margin: 50px 0 auto 0;
    right: 10%;
}

#online-banner-text{
    margin: 80px 0px auto 10%;
}

#online-ban-title{
    font-size: 25pt;
    color: #6b6b6b;
    text-decoration-style: double;
}

#text-online-ban{
    width: 57%;
    font-size: 15pt;
    color: #969696;
}

#btn-online{
    background-color: #E22347;
    border: 2px solid #E22347;
    color: #fff;
}

#btn-online:hover{
    background-color: #fff;
    color: #E22347;
    transition: 0.2s;
}

/* MINI BANNER: LIVE CLASS */

#mini-live-class{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mini-live-class iframe{
    margin: auto 0 auto 0;
}

#live-text-area{
    width: 50%;
    margin: auto 0px auto 80px;
}

/* MINI BANNER: CNA GO */

#mini-cna-go{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#cnago-text-area{
    width: 50%;
    margin: auto auto auto 50px;
}

#text-cnago-mini{
    font-size: 12pt;
}

#cnago-img{
    width: 350px;
    height: 350px;
    margin: 50px 100px auto auto;
}

/* BANNER: CNA ADULTS */

#ban-idade-cna{
    background-color: #5BCBF5;
}

#cna-adults-img{
    width: 250px;
    height: 250px;
    margin: auto auto auto 200px;
}

#text-area-idade-ban{
    width: 50%;
    margin: 50px auto auto auto;
}

#title-idade-ban{
    font-size: 27pt;
    font-family: "Roboto";
    text-decoration-style: solid;
}


/* BANNER: CNA PRO */

#ban-cna-professional{
    background-color: #EE7BAE;

}

#cna-professional-img{
    width: auto;
    height: 80vh;
    margin: auto 0 0 150px;
}

#cnapro-text{
    width: 40%;
    margin: auto 0 auto 50px;
}

#cnapro-text .title{
    font-size: 40pt;
}

#btn-cnapro{
    background-color: yellow;
    border: 2px solid yellow;
    color: #EE7BAE;
}

#btn-cnapro:hover{
    background-color: #EE7BAE;
    color: yellow;
}

/* MINI BANNER : CNA TEENS ON */

#mini-teens-on{
    background-color: #e9e7e7;
}

#mini-teens-img{
    width: 200px;
    height: 200px;
    margin: auto auto auto 200px;
}

#teens-text-area{
    margin: 20px auto auto 50px ;
}

#text-cna-teens{
    width: 80%;
    font-size: 10pt;
}

/* MINI BANNER: CNA KIDS */

#mini-kids{
    background-color: #65B32E;
    color: #fff;
}

/* BANNER: CNA LABS */

#ban-cna-labs{
    background-color: #96368B;
}

#cna-labs-img{
    width: 500px;
    height: 600px;
    margin: auto 0 0px 0;
}

#labs-text-area{
    width: 50%;
    margin: 50px 0 0 50px;
}

#btn-labs{
    background-color: #5BCBF5;
    border: 2px solid #5BCBF5;
    color: none;
}

#btn-labs:hover{
    background-color: #96368B;
    color: #5BCBF5;
    transition: 0.2s;
}

/* BANNER: UNICNA */

#ban-unicna{
    height: 220vh;
    background-color: #e9e7e7;
}

#unicna-config{
    margin: 50px 0  auto 200px; 
}

#unicna-img{
    width: 300px;
    height: 200px;
}

#unicna-text-area{
    margin: 50px 0 auto 100px;
}

#bottom-sec-text-area{
    margin: 80px auto auto -400px;
    width: 60%;
}

#image-format-tips{
    width: 100%;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 0 -5px;
}

.img-format-tips-config{
    width: auto;
    height: 350px;
    margin: 0 10px 0 10px;
}

/* BANNER: EFICIENCIA CNA */

#ban-eficiencia{
    background-color: #AE2752;
    display: grid;
    justify-content: center;
    color: #fff;
}

#ban-eficiencia .title{
    font-size: 40pt;
    margin: 100px auto auto auto;
    text-align: center;
}

.efi-text-area-config{
    width: auto;
    display: flex;
    margin: 0 auto 0 auto;
    font-size: 14pt;
}

.efi-text-area-config p{
    width: 60%;
}

.efi-text-area-config img{
    width: 200px;
    height: 80px;
    margin: 15px 50px 0 100px;
}


/* BANNER: UNIDADE JABOTICABAL */

#ban-unidade-jabuka{
    background-color: #e9e7e7;
    display: grid;
    text-align: center;
}

#ban-unidade-jabuka .title{
    font-size: 40pt;
}

#map-cna-jabuka{
    width: 800px;
    height: 450px;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
    margin: -50px auto auto auto;
    display: flex;
    justify-content: center;
    padding: 5px; 
}